body{
  background-image: linear-gradient(180deg,#00a0ee,#3668ff 50%);
  background-color: #3668ff;
  padding:25px;
  font-family: Monospace;
  text-align: center;
  }

h1{
   color: white;
   font-size:48px;
   font-weight:900;
  }

h2{
  color:white;
  font-size:32px;
  }

p{
  color:black;
  font-size:22px;
}