input[type="range" i]{

   -webkit-appearance: slider-horizontal;
    color: rgb(51,51,0);
    cursor: default;
    padding-top:1px;
    border: initial;
    margin: 2px;
    width: 400px;
    height: 50px;

    }

input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #ff0066;
  border: 2px solid #ff0066;
  height: 23px;
  width: 23px;
  border-radius:3px;
  background: #ff0066;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
 
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: #ff0066;
  border-radius: 1px;
  }
 
section#buttons{
padding:50px;
}

button#previous{
padding:4px 30px;
}

button#play-pause{
padding:4px 30px;
}

button#next{
padding:4px 30px;
}

div.current-time{
padding-bottom:1px;
}

div.total-time{
padding-top:1px;
}

div.icon-md-ion-volume-low{
padding-top:45px;
}